
name: "Test Reusable Action"
on: workflow_dispatch

jobs:
  dev-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Greetings
        uses: actions/greet@v1
        with:
          who-to-greet: "Mark"
